.DS_Store

# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/
images/uploads/\*
images/uploads
images/uploads/*
images/uploads/.gitkeep

# Caches
lcmin/user/cache/
lcmin/user/cache/\*
lcmin/user/cache/*
lcmin/user/cache/current_version
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*

# Multi Environment Config
lcmin/user/config/config.local.php
LocalValetDriver.php
.ddev/

# build script

node_modules/
package-lock.json
custom.css.map
src/assets/certs