    <footer class="footer3_component color-scheme-6">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-vertical padding-xxlarge">
            <div class="padding-bottom padding-xxlarge">
              <div class="margin-bottom margin-medium">
                <div class="w-layout-grid footer3_social-list">
                  <a href="https://www.facebook.com/LeonesCreamery" target="_blank" class="footer3_social-link w-inline-block">
                    <div class="icon-embed-medium w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 12.0611C22 6.50451 17.5229 2 12 2C6.47715 2 2 6.50451 2 12.0611C2 17.0828 5.65684 21.2452 10.4375 22V14.9694H7.89844V12.0611H10.4375V9.84452C10.4375 7.32296 11.9305 5.93012 14.2146 5.93012C15.3088 5.93012 16.4531 6.12663 16.4531 6.12663V8.60261H15.1922C13.95 8.60261 13.5625 9.37822 13.5625 10.1739V12.0611H16.3359L15.8926 14.9694H13.5625V22C18.3432 21.2452 22 17.083 22 12.0611Z" fill="CurrentColor"></path>
                      </svg></div>
                  </a>
                  <a href="https://www.instagram.com/leonescreamery/" target="_blank" class="footer3_social-link w-inline-block">
                    <div class="icon-embed-medium w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z" fill="CurrentColor"></path>
                      </svg></div>
                  </a>
                </div>
              </div>
              <div class="w-layout-grid footer3_top-wrapper">
                <div class="footer3_left-wrapper">
                  <div class="margin-bottom margin-medium">
                    <div class="footer3_details-wrapper">
                      <div class="margin-bottom margin-tiny">
                        <a href="/spearfish-flavors" class="text-size-small text-weight-semibold text-style-link">SPEARFISH CREAMERY</a>
                      </div>
                      <div class="margin-bottom margin-small">
                        <div class="text-size-small">722½ Main St<br>Spearfish SD 57783<br>
                          <a href="tel:16056446461">605-644-6461</a>
                        </div>
                      </div>
                      <div class="margin-bottom margin-tiny">
                        <div class="text-size-small text-weight-semibold">HOURS</div>
                        <div class="text-size-small">Open: Noon - 9PM<br>Closed: Tuesdays</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer3_left-wrapper">
                  <div class="margin-bottom margin-medium">
                    <div class="footer3_details-wrapper">
                      <div class="margin-bottom margin-tiny">
                        <a href="/rapid-city-flavors" class="text-size-small text-weight-semibold text-style-link">RAPID CITY SCOOP SHOP</a>
                      </div>
                      <div class="margin-bottom margin-small">
                        <div class="text-size-small">412 St Joseph Street<br>Rapid City SD 57701<br>
                          <a href="tel:16056446461">605-644-6461</a>
                        </div>
                      </div>
                      <div class="margin-bottom margin-tiny">
                        <div class="text-size-small text-weight-semibold">HOURS</div>
                        <div class="text-size-small">Open: Noon - 9PM<br>Closed: Mondays &amp; Tuesdays</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-_6f416a89-c354-df86-b71d-b6027dc28d55-e7c00888" class="w-layout-grid footer3_menu-wrapper">
                  <div class="footer3_link-list text-size-small">
                    <a href="{site_url}" aria-current="page" class="footer3_link w--current">Home</a>
                    <a href="/spearfish-flavors" class="footer3_link">Spearfish Flavor Board</a>
                    <a href="#" class="footer3_link">Rapid City Flavor Board</a>
                    <a href="/about-us" class="footer3_link">About Us</a>
                    <a href="/scoop-it-forward-results" class="footer3_link">Scoop it Forward</a>
                  </div>
                  <div class="footer3_link-list text-size-small">
                    <a href="/local-partners" class="footer3_link">Local Partners</a>
                    <a href="/creamery-updates" class="footer3_link">Creamery Updates</a>
                    <a href="https://squareup.com/gift/4EJERSYJ106JR/order" class="footer3_link">Gift Cards</a>
                    <a href="/join-the-team" class="footer3_link">Join the Team</a>
                    <a href="/contact" class="footer3_link">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-horizontal"></div>
            <div class="padding-top padding-medium">
              <div class="footer3_bottom-wrapper">
                <div class="footer3_credit-text">© 2026 Leones&#x27; Creamery. All rights reserved.</div>
                <div class="w-layout-grid footer3_legal-list">
                  <a href="#" class="footer3_legal-link">Privacy Policy</a>
                  <a href="/terms-of-service" class="footer3_legal-link">Terms of Service</a>
                  <a href="#" class="footer3_legal-link">Cookies Settings</a>
                  <a href="#" class="footer3_legal-link">Accessibility</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
