{layout="layouts/_layout_main"}
{layout:set name="meta_title"}Terms of Service | Leone's Creamery{/layout:set}
{layout:set name="page_class"}terms-of-service{/layout:set}

      <header class="section_blog-post-header1 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="blog-post-header1_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="max-width-large align-center">
                    <div class="blog-post-header1_title-wrapper">
                      <h1 class="heading-style-h2 text-align-center">Terms of Service</h1>
                      <div class="margin-top margin-small">
                        <div class="blog-post-header1_content-top">
                          <div class="blog-post-header1_author-wrapper">
                            <div class="blog-post-header1_author-text">
                              <div class="margin-top margin-tiny">
                                <div class="blog-post-header1_date-wrapper">
                                  <div class="text-size-small">This policy is effective as of 13 January 2022</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="max-width-large align-center">
                  <div class="content29_content-wrapper">
                    <div class="text-rich-text w-richtext">
                      <h2 class="heading-style-h4">1. Terms</h2>
                      <p>These Terms of Service govern your use of the website located at <a href="https://leonescreamery.com/">https://leonescreamery.com</a> and any related services provided by Leones&#x27; Creamery.</p>
                      <p>By accessing <a href="https://leonescreamery.com/">https://leonescreamery.com</a>, you agree to abide by these Terms of Service and to comply with all applicable laws and regulations. If you do not agree with these Terms of Service, you are prohibited from using or accessing this website or using any other services provided by Leones&#x27; Creamery.</p>
                      <p>We, Leones&#x27; Creamery, reserve the right to review and amend any of these Terms of Service at our sole discretion. Upon doing so, we will update this page. Any changes to these Terms of Service will take effect immediately from the date of publication.</p>
                      <p>‍</p>
                    </div>
                    <div class="text-rich-text w-richtext">
                      <h2 class="heading-style-h4">2. Limitations of Use</h2>
                      <p>By using this website, you warrant on behalf of yourself, your users, and other parties you represent that you will not:</p>
                      <ol role="list">
                        <li>modify, copy, prepare derivative works of, decompile, or reverse engineer any materials and software contained on this website;</li>
                        <li>remove any copyright or other proprietary notations from any materials and software on this website;</li>
                        <li>transfer the materials to another person or “mirror” the materials on any other server;</li>
                        <li>knowingly or negligently use this website or any of its associated services in a way that abuses or disrupts our networks or any other service Leones&#x27; Creamery provides;</li>
                        <li>use this website or its associated services to transmit or publish any harassing, indecent, obscene, fraudulent, or unlawful material;</li>
                        <li>use this website or its associated services in violation of any applicable laws or regulations;</li>
                        <li>use this website in conjunction with sending unauthorized advertising or spam;</li>
                        <li>harvest, collect, or gather user data without the user’s consent; or</li>
                        <li>use this website or its associated services in such a way that may infringe the privacy, intellectual property rights, or other rights of third parties.</li>
                      </ol>
                      <p>‍</p>
                    </div>
                    <div class="text-rich-text w-richtext">
                      <h2 class="heading-style-h4">3. Intellectual Property</h2>
                      <p>The intellectual property in the materials contained in this website are owned by or licensed to Leones&#x27; Creamery and are protected by applicable copyright and trademark law. We grant our users permission to download one copy of the materials for personal, non-commercial transitory use.</p>
                      <p>This constitutes the grant of a license, not a transfer of title. This license shall automatically terminate if you violate any of these restrictions or the Terms of Service, and may be terminated by Leones&#x27; Creamery at any time.</p>
                      <p>‍</p>
                    </div>
                    <div class="text-rich-text w-richtext">
                      <h2 class="heading-style-h4">4. Liability</h2>
                      <p>Our website and the materials on our website are provided on an &#x27;as is&#x27; basis. To the extent permitted by law, Leones&#x27; Creamery makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property, or other violation of rights.</p>
                      <p>In no event shall Leones&#x27; Creamery or its suppliers be liable for any consequential loss suffered or incurred by you or any third party arising from the use or inability to use this website or the materials on this website, even if Leones&#x27; Creamery or an authorized representative has been notified, orally or in writing, of the possibility of such damage.</p>
                      <p>In the context of this agreement, “consequential loss” includes any consequential loss, indirect loss, real or anticipated loss of profit, loss of benefit, loss of revenue, loss of business, loss of goodwill, loss of opportunity, loss of savings, loss of reputation, loss of use and/or loss or corruption of data, whether under statute, contract, equity, tort (including negligence), indemnity, or otherwise.</p>
                      <p>Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                      <p>‍</p>
                      <p>‍</p>
                    </div>
                  </div>
                  <div class="margin-vertical margin-large">
                    <div class="divider-horizontal"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="section-collage text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="section-collage-text">
                <h4 class="heading-style-h3 collage">There’s ALWAYS room for ice cream.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="collage-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="/images/faqs-collage-fullwidth-p-500.avif 500w, /images/faqs-collage-fullwidth-p-800.avif 800w, /images/faqs-collage-fullwidth-p-1080.avif 1080w, /images/faqs-collage-fullwidth.avif 1600w" alt="" src="/images/faqs-collage-fullwidth.avif" loading="eager" class="collage-background-image">
        </div>
      </header>
