{layout='layouts/_layout_main'}
{exp:stash:cache}
{exp:channel:entries channel="pages" entry_id="17" dynamic="no"}
{layout:set name='meta_title'}Leones' Creamery | {title}{/layout:set}
{layout:set name='meta_description'}We've got the cold, hard(packed) facts to answer all of your questions. Curious about our flavors, or the Scoop it Forward Board - you've come to the right page!{/layout:set}
{layout:set name='social_title'}Leones' Creamery | {title}{/layout:set}
{layout:set name='social_description'}We've got the cold, hard(packed) facts to answer all of your questions. Curious about our flavors, or the Scoop it Forward Board - you've come to the right page!{/layout:set}
{layout:set name='social_image'}{top_image}{img:url:resize width='1200' height='630' crop='true'}{/top_image}{/layout:set}


{top_image}<div class="hero-section inner" style="background-image:url({img:url})">{/top_image}
    <div class="words"><h1>{title}</h1></div>
    <div class="overlay"></div>
</div><!--end of hero-->


<div class="content-area"><!--start of main content-->
   <div class="triangle-border"></div><!--end of doodle border--> 
   
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell small-12 medium-10 float-center">
            <div class="grid-x grid-padding-x faqs">
              <div class="cell small-12 medium-2"><img src="/images/faqs-question-mark.svg" alt=""/></div>
              <div class="cell small-12 medium-8 intro"><p>{text_area_1}</p></div>              
            </div>
          </div>

        </div>
{/exp:channel:entries}
        <div class="grid-x">

          <div class="cell small-12 medium-12 large-10 float-center">
            <ul class="multilevel-accordion-menu vertical menu" data-accordion-menu>
{exp:low_reorder:entries set="faqs" dynamic="no"}
              <li>
                <a href="#"><p>{question}</p></a>
                <ul class="menu vertical sublevel">
                  <li class="sub-item">{answer}</li>
                </ul>
              </li>
{/exp:low_reorder:entries}
            </ul>
          </div>

        </div>
      </div><!--end of wrapping grid-container-->

        <div class="structured-collage" style="background-image:url(/images/faqs-collage-fullwidth.jpg)">
          <div class="grid-x">
             <div class="cell small-12 medium-10 large-6 float-center">
                 <div class="bottom-fact">
                   <div class="grid-x grid-padding-x">
                     <div class="cell small-12 medium-4 large-4 fact-icon"><img src="/images/fact.svg" alt=""/></div>
                     <div class="cell small-12 medium-12 large-8">There’s ALWAYS room for ice cream.</div>
                  </div>
               </div>
            </div>
           </div>
          <div class="overlay"></div>            
        </div><!--end of structured collage, 3:1 ratio-->
   
</div><!--end of main content-->
{/exp:stash:cache}