{layout="layouts/_layout_main"}
{layout:set name="meta_title"}Leones&#x27; Creamery | Black Hills Handcrafted Ice Cream{/layout:set}
{layout:set name="meta_description"}Handcrafted ice cream in Spearfish &amp; Rapid City, SD since 2014. 8 ever-changing flavors made fresh daily from high-quality ingredients. Open year-round.{/layout:set}
{layout:set name="page_class"}home{/layout:set}

      <header class="section_hero text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="hero">
              <div class="padding-section-large">
                <div class="max-width-medium">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">The Black Hills’ finest ice cream and frozen treats</h1>
                  </div>
                  <p class="text-size-medium">Leones&#x27; Creamery specializes in hand-crafting traditional and unique ice creams from fresh, high-quality ingredients.</p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="/spearfish-flavors" class="button is-secondary is-alternate w-button">SPEARFISH FLAVORS</a>
                      <a href="#" class="button is-secondary is-alternate w-button">RAPID CITY FLAVORS</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-background-video-wrapper">
          <div class="video-overlay-layer"></div>
          <div data-poster-url="videos/lc-hero-poster-00001.jpg" data-video-urls="videos/lc-hero-transcode.mp4,videos/lc-hero-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false" class="hero_background-video w-background-video w-background-video-atom"><video id="261fa0b6-699e-4670-add7-9341d44c5d4f-video" autoplay="" loop="" style="background-image:url(&quot;videos/lc-hero-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
              <source src="/videos/lc-hero-transcode.mp4" data-wf-ignore="true">
              <source src="/videos/lc-hero-transcode.webm" data-wf-ignore="true">
            </video></div>
        </div>
      </header>
      <section data-w-id="902b8033-b867-e14c-9bbe-7e208fbc26ee" class="section_home_about color-scheme-1">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="home_about">
                <div class="w-layout-grid home_about-content">
                  <div id="w-node-_902b8033-b867-e14c-9bbe-7e208fbc26f4-3c01b584" data-w-id="902b8033-b867-e14c-9bbe-7e208fbc26f4" class="home_about-image-wrapper"><img sizes="(max-width: 1280px) 100vw, 1280px" srcset="/images/8-flavors-sm_1-p-500.avif 500w, /images/8-flavors-sm_1-p-800.avif 800w, /images/8-flavors-sm_18-flavors-sm.avif 1280w" alt="" src="/images/8-flavors-sm_18-flavors-sm.avif" loading="lazy" class="home_about-image"></div>
                  <div class="home_about-content-right">
                    <div class="margin-bottom margin-xsmall">
                      <div class="text-style-tagline">MADE WITH ❤ SINCE 2014</div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">8 Ever-changing Flavors</h2>
                    </div>
                    <div class="margin-bottom margin-medium">
                      <p class="text-size-medium">Specializing in hand-crafting traditional and unique ice creams and frozen desserts from fresh, high-quality ingredients, it&#x27;s our joy to provide the Black Hills with happy hearts and tummies.</p>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="/about" class="button is-secondary w-button">LEARN MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_extra_about-2 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div data-w-id="261fa0b6-699e-4670-add7-9341d44c5d7a" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="padding-section-large">
              <div class="extra_about-2_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-xsmall">
                        <div class="text-style-tagline">EXCITING THINGS ARE IN THE WORKS</div>
                      </div>
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">Soon twice as nice</h2>
                      </div>
                      <p class="text-size-medium">It&#x27;s time to get excited for more opportunities to catch your favorite flavor or discover brand new ones. Stay tuned for more updates!</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid extra_about-2_grid-list">
                  <div id="w-node-_261fa0b6-699e-4670-add7-9341d44c5d88-3c01b584" class="w-layout-grid extra_about-2_row">
                    <div class="extra_about-2_card-small">
                      <div id="w-node-_261fa0b6-699e-4670-add7-9341d44c5d9f-3c01b584" class="extra_about-2_card-small-image-wrapper"><img sizes="(max-width: 1125px) 100vw, 1125px" srcset="/images/spearfish-creamery-p-500.avif 500w, /images/spearfish-creamery.avif 1125w" alt="" src="/images/spearfish-creamery.avif" loading="lazy" class="extra_about-2_card-small-image"></div>
                      <div class="extra_about-2_card-small-content">
                        <div class="extra_about-2_card-small-content-top">
                          <div class="margin-bottom margin-xxsmall">
                            <div class="tag is-text">SINCE 2014</div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">Spearfish Creamery</h3>
                          </div>
                          <p>Where it all began - this is where the delectable cream gets churned into magic.</p>
                        </div>
                        <div class="margin-top margin-small">
                          <div class="button-group">
                            <a href="/spearfish-flavors" class="button is-link is-icon w-inline-block">
                              <div>CURRENT FLAVORS</div>
                              <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                </svg></div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="extra_about-2_card-small">
                      <div id="w-node-_261fa0b6-699e-4670-add7-9341d44c5db2-3c01b584" class="extra_about-2_card-small-image-wrapper"><img sizes="(max-width: 1642px) 100vw, 1642px" srcset="/images/caramel-apple-p-500.avif 500w, /images/caramel-apple-p-800.avif 800w, /images/caramel-apple.avif 1642w" alt="" src="/images/caramel-apple.avif" loading="lazy" class="extra_about-2_card-small-image"></div>
                      <div class="extra_about-2_card-small-content">
                        <div class="extra_about-2_card-small-content-top">
                          <div class="margin-bottom margin-xxsmall">
                            <div class="tag is-text">COMING JUNE 2026</div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <h3 class="heading-style-h5">Rapid City</h3>
                          </div>
                          <p>We are giving you more chances to satisfy that sweet tooth of yours.</p>
                        </div>
                        <div class="margin-top margin-small">
                          <div class="button-group">
                            <a href="#" class="button is-link is-icon w-inline-block">
                              <div>CURRENT FLAVORS</div>
                              <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                </svg></div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_extra_layout color-scheme-1">
        <div class="extra_layout_component">
          <div class="extra_layout_inner-wrapper">
            <div class="extra_layout_images-wrapper">
              <div class="extra_layout_image-wrapper is-image1"><img sizes="(max-width: 1640px) 100vw, 1640px" srcset="/images/oreo_1-p-500.avif 500w, /images/oreo_1-p-800.avif 800w, /images/oreo_1oreo.avif 1640w" alt="" src="/images/oreo_1oreo.avif" loading="lazy" class="extra_layout_image"></div>
              <div class="extra_layout_image-wrapper is-image2"><img sizes="(max-width: 1662px) 100vw, 1662px" srcset="/images/milkshake-p-500.avif 500w, /images/milkshake-p-800.avif 800w, /images/milkshake.avif 1662w" alt="" src="/images/milkshake.avif" loading="lazy" class="extra_layout_image"></div>
              <div class="extra_layout_image-wrapper is-image3"><img sizes="(max-width: 1536px) 100vw, 1536px" srcset="/images/sunrise-p-500.avif 500w, /images/sunrise-p-800.avif 800w, /images/sunrise.avif 1536w" alt="" src="/images/sunrise.avif" loading="lazy" class="extra_layout_image"></div>
            </div>
            <div class="extra_layout_images-wrapper images-wrapper-right">
              <div class="extra_layout_image-wrapper is-image4"><img sizes="(max-width: 1638px) 100vw, 1638px" srcset="/images/pumpkin_1-p-500.avif 500w, /images/pumpkin_1-p-800.avif 800w, /images/pumpkin_1pumpkin.avif 1638w" alt="" src="/images/pumpkin_1pumpkin.avif" loading="lazy" class="extra_layout_image"></div>
              <div class="extra_layout_image-wrapper is-image5"><img sizes="(max-width: 1640px) 100vw, 1640px" srcset="/images/trout_1-p-500.avif 500w, /images/trout_1-p-800.avif 800w, /images/trout_1trout.avif 1640w" alt="" src="/images/trout_1trout.avif" loading="lazy" class="extra_layout_image"></div>
            </div>
            <div class="extra_layout_content">
              <div class="padding-global">
                <div class="container-large">
                  <div class="padding-section-large">
                    <div class="text-align-center">
                      <div class="max-width-large align-center">
                        <div class="margin-bottom margin-xsmall">
                          <div class="text-style-tagline">RUNNING HEAD</div>
                        </div>
                        <div class="margin-bottom margin-small">
                          <h2 class="heading-style-h2">Slingin&#x27; the freshest cream</h2>
                        </div>
                        <p class="text-size-medium">Leones’ Creamery was founded in 2014 by Rebecca and Hannah (sisters) and John (Rebecca’s husband). From our storefront to our flavors, Leones’ Creamery has been a wildly collaborative venture.</p>
                        <div class="margin-top margin-medium">
                          <div class="button-group is-center">
                            <a href="/local-partners" class="button is-secondary w-button">LOCAL PARTNERS</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="261fa0b6-699e-4670-add7-9341d44c5de9" class="extra_layout_ix-trigger"></div>
        </div>
      </section>
      <section class="section-faqs">
        <div class="padding-global color-scheme-5">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="faqs-component">
                <div class="w-layout-grid faqs-content">
                  <div class="faqs-content-left">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2">Here&#x27;s the scoop</h2>
                    </div>
                    <p class="text-size-medium">You have questions. We have answers!</p>
                  </div>
                  <div class="faqs-list">
                    {!-- FAQs from `faqs` channel via Low Reorder (manual ordering in CP).
                         Limit 5 to match the 5 IX2 data-w-ids baked into webflow.js's
                         interaction timeline; switch keeps each accordion bound to its
                         expand/collapse animation slot. --}
                    {exp:low_reorder:entries set="faqs" limit="5" dynamic="no" disable="categories|category_fields|member_data|pagination"}
                    <div class="faqs-accordion">
                      <div data-w-id="{switch="58ea2e65-1ad8-3bf9-73e8-99ddf43c12b5|58ea2e65-1ad8-3bf9-73e8-99ddf43c12bf|58ea2e65-1ad8-3bf9-73e8-99ddf43c12c9|58ea2e65-1ad8-3bf9-73e8-99ddf43c12d3|58ea2e65-1ad8-3bf9-73e8-99ddf43c12dd"}" class="faqs-question">
                        <div class="text-size-medium faqs">{question}</div>
                        <div class="extra_cta_icon-wrapper">
                          <div class="icon-embed-small w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                              <path d="M7.08691 9.02344C7.18774 9.02344 7.26471 9.05385 7.34277 9.13184L11.6455 13.459L11.999 13.8145L16.6816 9.13184C16.7593 9.05424 16.8257 9.03227 16.9062 9.03516C17.0005 9.0386 17.0819 9.07117 17.168 9.15723C17.246 9.23531 17.2764 9.31223 17.2764 9.41309C17.2763 9.51371 17.2458 9.59001 17.168 9.66797L12.249 14.5869C12.1949 14.6411 12.1522 14.667 12.124 14.6787C12.0885 14.6935 12.0486 14.7021 12 14.7021C11.9755 14.7021 11.9532 14.6993 11.9326 14.6953L11.875 14.6787L11.8223 14.6484C11.8015 14.634 11.7779 14.6138 11.751 14.5869L6.80664 9.64355C6.7328 9.56972 6.70662 9.50009 6.70996 9.40527C6.71375 9.29797 6.74977 9.2141 6.83203 9.13184C6.90996 9.05403 6.98632 9.02351 7.08691 9.02344Z" fill="currentColor" stroke="currentColor"></path>
                            </svg></div>
                        </div>
                      </div>
                      <div class="extra_cta_answer">
                        <div class="margin-bottom margin-small">
                          <p>{answer}</p>
                        </div>
                      </div>
                    </div>
                    {/exp:low_reorder:entries}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <header data-w-id="e4738698-e193-58f4-b223-cb033de98b3f" class="section_header141">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header141_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large">
                      <div class="margin-bottom margin-small">
                        <h1 class="heading-style-h2">Slingin&#x27; the freshest cream</h1>
                      </div>
                      <p class="text-size-medium">Nestled in downtown Spearfish, South Dakota, Leones’ Creamery was founded in 2014 by Rebecca and Hannah (sisters) and John (Rebecca’s husband). From our storefront to our flavors, Leones’ Creamery has been a wildly collaborative venture.</p>
                      <div class="margin-top margin-medium">
                        <div class="button-group is-center">
                          <a href="#" class="button is-secondary w-button">OUR JOURNEY</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header141_image-group">
                  <div class="header141_image-wrapper2"><img sizes="(max-width: 1640px) 100vw, 1640px" srcset="/images/oreo_1-p-500.avif 500w, /images/oreo_1-p-800.avif 800w, /images/oreo_1oreo.avif 1640w" alt="" src="/images/oreo_1oreo.avif" loading="eager" class="header141_image2"></div>
                  <div class="header141_image-wrapper1"><img sizes="(max-width: 1640px) 100vw, 1640px" srcset="/images/trout_1-p-500.avif 500w, /images/trout_1-p-800.avif 800w, /images/trout_1trout.avif 1640w" alt="" src="/images/trout_1trout.avif" loading="eager" class="header141_image1"></div>
                  <div class="header141_image-wrapper3"><img sizes="(max-width: 1638px) 100vw, 1638px" srcset="/images/pumpkin_1-p-500.avif 500w, /images/pumpkin_1-p-800.avif 800w, /images/pumpkin_1pumpkin.avif 1638w" alt="" src="/images/pumpkin_1pumpkin.avif" loading="eager" class="header141_image3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="section-collage text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="section-collage-text">
                <h4 class="heading-style-h3 collage">There’s ALWAYS room for ice cream.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="collage-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="/images/faqs-collage-fullwidth-p-500.avif 500w, /images/faqs-collage-fullwidth-p-800.avif 800w, /images/faqs-collage-fullwidth-p-1080.avif 1080w, /images/faqs-collage-fullwidth.avif 1600w" alt="" src="/images/faqs-collage-fullwidth.avif" loading="eager" class="collage-background-image">
        </div>
      </header>
