{layout="layouts/_layout_main"}
{layout:set name="meta_title"}Join the Team | Leone's Creamery{/layout:set}
{layout:set name="page_class"}join-the-team{/layout:set}

      <section data-w-id="aa26a60d-ce3c-e1b2-70bf-c2072ab03d80" class="section_layout413 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="layout413_component">
                <div class="w-layout-grid layout413_content">
                  <div id="w-node-aa26a60d-ce3c-e1b2-70bf-c2072ab03d86-dd8efe47" data-w-id="aa26a60d-ce3c-e1b2-70bf-c2072ab03d86" class="layout413_image-wrapper"><img sizes="100vw" srcset="/images/join-the-team-lily-p-500.avif 500w, /images/join-the-team-lily-p-800.avif 800w, /images/join-the-team-lily.avif 1600w" alt="" src="/images/join-the-team-lily.avif" loading="lazy" class="layout413_image"></div>
                  <div class="layout413_content-right">
                    <div class="margin-bottom margin-small">
                      <h1 class="heading-style-h2">Join the Team</h1>
                    </div>
                    <div class="margin-bottom margin-xsmall">
                      <h2 class="heading-style-h6">If you&#x27;re passionate about ice cream...</h2>
                    </div>
                    <div class="margin-bottom margin-medium">
                      <p class="text-size-medium">And love working in a fast-paced environment while interacting with the public, we may have a place for you on our team. We offer both seasonal and year-round employment and are always accepting applications. Check out the PDF at the link below to access the Leones&#x27; Creamery application. Please download, print, and complete in blue or black ink. Feel free to drop off completed applications at our shop, or send it to us by mail or e-mail.</p>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="button-group">
                        <a href="documents/application.pdf" target="_blank" class="button is-secondary w-button">DOWNLOAD APPLICATION</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <header class="section-collage text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="section-collage-text">
                <h4 class="heading-style-h3 collage">There’s ALWAYS room for ice cream.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="collage-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="/images/faqs-collage-fullwidth-p-500.avif 500w, /images/faqs-collage-fullwidth-p-800.avif 800w, /images/faqs-collage-fullwidth-p-1080.avif 1080w, /images/faqs-collage-fullwidth.avif 1600w" alt="" src="/images/faqs-collage-fullwidth.avif" loading="eager" class="collage-background-image">
        </div>
      </header>
