/* 

Date last modified: 06/16/2024
Flavor board styles for the home page, flavor page and flavor detail page

*/
  
.flavor-card {
    position: relative;
    height: auto;
    max-height: 27rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #fff;
    overflow: hidden;

    @include media(">desktop") {
      max-height: 32rem;
    }

    @include media(">xlarge-max") {
      max-height: 40rem;
    }

    img {

      // transform: scale(0.95);
      transform-origin: center;

      @include media(">desktop") {
        transition: transform .5s ease-in-out; /* Apply transition to the image */
      }

      &:hover {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;

        @include media(">desktop") {
          transform: scale(1.2);
        }

        
      }

    }

  }
  
  .flavor-title {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.59);
    font-size: 1rem;
    line-height: 1.25rem;
    z-index: 11;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    min-height: 3rem;
    padding: 0 0.5rem;
  
    @include media(">medium-up") {
      font-size: 1.6rem;
      line-height: 1.7rem;
      min-height: 4.5rem;
    }

    @include media("screen", ">medium-up", "<63.9em") {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }

    @include media("screen", "portrait", ">768px", "<1024px", "webkit-ratio-1") {
      font-size: 1.3rem;
      line-height: 1.6rem;
    }

    @include media("screen", ">xlarge-min", "<xlarge-max") {
      font-size: 1.75rem;
      line-height: 2rem;
    }

    @include media("screen", ">xlarge-min") {
      text-align: left;
      min-height: 6rem;
    }

  
  }

  /* flavor detail CSS */
  
  h1.flavor-detail-heading {
    color: #000000;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin: 1rem 0 0.75rem 0;

    @include media("screen", ">xlarge-min") {
      text-align: left;
    }

  }
  
  .flavor-contains {

    text-align: center;
    margin: 0 0 1.5rem 0;

    @include media("screen", ">xlarge-min") {
      text-align: left;
    }

  }
  
  .flavor-gluton-free {
    text-align: center;

    @include media("screen", ">xlarge-min") {
      text-align: left;
    }

  }
  
  .flavor-description {
  
    text-align: center;
  
    @include media(">tablet") {
      text-align: center;
    }

    @include media("screen", ">xlarge-min") {
      text-align: left;
    }
  
  }
  
  /* contain flavor image in view template to square dimensions */
  
  .image-container {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }