{layout="layouts/_layout_main"}
{layout:set name="meta_title"}Creamery Updates | Leone's Creamery{/layout:set}
{layout:set name="page_class"}blog{/layout:set}

      <section class="section_blog35 color-scheme-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="blog35_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">Creamery Updates</h2>
                      </div>
                      <p class="text-size-medium">Keep up-to-date with all things Leones&#x27; Creamery! <br>Check back often to see all the fun and tasty trouble we&#x27;re getting into.</p>
                    </div>
                  </div>
                </div>
                <div class="blog35_list-wrapper">
                  <div class="w-layout-grid blog35_list">
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1440px) 100vw, 1440px" srcset="/images/holiday-p-500.avif 500w, /images/holiday-p-800.avif 800w, /images/holiday.avif 1440w" alt="" src="/images/holiday.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">Christmas in July </h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1640px) 100vw, 1640px" srcset="/images/oreo_1-p-500.avif 500w, /images/oreo_1-p-800.avif 800w, /images/oreo_1oreo.avif 1640w" alt="" src="/images/oreo_1oreo.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">Lunar New Year: Snake Style</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1800px) 100vw, 1800px" srcset="/images/chocolate-sauce-p-500.avif 500w, /images/chocolate-sauce-p-800.avif 800w, /images/chocolate-sauce.avif 1800w" alt="" src="/images/chocolate-sauce.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">2024: a Recap!</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1280px) 100vw, 1280px" srcset="/images/8-flavors-sm_1-p-500.avif 500w, /images/8-flavors-sm_1-p-800.avif 800w, /images/8-flavors-sm_18-flavors-sm.avif 1280w" alt="" src="/images/8-flavors-sm_18-flavors-sm.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">Seed! Swap! 2024!</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1134px) 100vw, 1134px" srcset="/images/fridge-p-500.avif 500w, /images/fridge.avif 1134w" alt="" src="/images/fridge.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">Lunar New Year, Dragon-Style</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="blog35_item">
                      <a href="/blog/view" class="blog35_item-link w-inline-block">
                        <div class="blog35_image-wrapper"><img sizes="(max-width: 1638px) 100vw, 1638px" srcset="/images/blueberry-goat-p-500.avif 500w, /images/blueberry-goat-p-800.avif 800w, /images/blueberry-goat.avif 1638w" alt="" src="/images/blueberry-goat.avif" loading="lazy" class="blog35_image"></div>
                        <div class="blog35_item-content">
                          <div class="blog35_item-content-top">
                            <div class="margin-bottom margin-xxsmall">
                              <h3 class="heading-style-h5">Roll the numbers (a 2023 rundown)</h3>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="margin-top margin-xxlarge">
                  <div class="pagination3_component">
                    <div class="pagination3_page-count-wrapper">
                      <div class="pagination3_text">Page</div>
                      <div class="pagination3_page-count">1 / 5</div>
                      <div class="pagination3_results-count">of <span fs-cmsfilter-element="items-count">100</span> results</div>
                    </div>
                    <div class="pagination3_button-wrapper">
                      <a href="#" class="button is-previous is-secondary w-inline-block">
                        <div class="w-inline-block">Previous</div>
                      </a>
                      <a href="#" class="button is-next is-secondary w-inline-block">
                        <div class="w-inline-block">Next</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <header class="section-collage text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="section-collage-text">
                <h4 class="heading-style-h3 collage">There’s ALWAYS room for ice cream.</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="collage-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1600px) 100vw, 1600px" srcset="/images/faqs-collage-fullwidth-p-500.avif 500w, /images/faqs-collage-fullwidth-p-800.avif 800w, /images/faqs-collage-fullwidth-p-1080.avif 1080w, /images/faqs-collage-fullwidth.avif 1600w" alt="" src="/images/faqs-collage-fullwidth.avif" loading="eager" class="collage-background-image">
        </div>
      </header>
