<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{if layout:meta_title}{layout:meta_title}{/if}</title>
        {if layout:meta_description}<meta name="description" content="{layout:meta_description}">{/if}
        <meta property="og:title" content="{layout:social_title}"/>
        <meta property="og:image" content="{layout:social_image}"/>
        <meta property="og:description" content="{layout:social_description}"/>
        <meta property="og:url" content="{current_url}"/>
        <meta property="og:site_name" content="{site_name}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <link rel="stylesheet" href="{site_url}js/slick/slick.css" />
        <link rel="stylesheet" href="https://use.typekit.net/ryy4zfk.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300|Fira+Sans:700|Josefin+Sans:400,700,600" rel="stylesheet">
        <link rel="stylesheet" href="{site_url}css/custom.css">
        <script src="{site_url}js/vendor/modernizr.js"></script>
    </head>
    <body>

<div id="wrapper">
<div class="grid-x hours-section">
  {exp:channel:entries channel="hours_of_operation" dynamic="no"}
    {open_close_times}
    {if '{current_time format="%l"}' == '{open_close_times:day_of_week}'}

       {if 
          '{current_time format="%H%i"}' <= '1400' && 
          '{open_close_times:open format="%H%i"}' >= '{current_time format="%H%i"}' && 
          '{open_close_times:closed_all_day}' != 'y'
        }
          <div class="cell small-2 medium-1 status">
           <img src="{site_url}images/closed.svg" alt=""/>
         </div>
         <div class="cell small-10 medium-11">
          <div class="notice">{open_close_times:morning_closed_message}</div>
        </div>
        {/if}

      {if
    '{open_close_times:open format="%H%i"}' <= '{current_time format="%H%i"}' && 
    '{open_close_times:close format="%H%i"}' > '{current_time format="%H%i"}' && 
    '{open_close_times:closed_all_day}' != 'y'
     }    
        <div class="cell small-2 medium-1 open status">
           <img src="{site_url}images/open.svg" alt=""/>
         </div>
         <div class="cell small-10 medium-11">
          <div class="notice">Come in<span> TODAY</span> until <span>{open_close_times:close format="%g %A"}</span></div>
        </div>
      {/if}

        {if
          '{current_time format="%H%i"}' >= '1400' && 
          '{open_close_times:open format="%H%i"}' <= '{current_time format="%H%i"}' OR 
          '{open_close_times:closed_all_day}' == 'y'
        }
          <div class="cell small-2 medium-1 status">
           <img src="{site_url}images/closed.svg" alt=""/>
         </div>
         <div class="cell small-10 medium-11">
          <div class="notice">{open_close_times:evening_closed_message}</div>
        </div>
        {/if}

     {/if}

        

     {/open_close_times}
  {/exp:channel:entries}
</div>

<div class="off-canvas-content hide-for-large" data-off-canvas-content>
  <div class="top-bar">
    <div class="top-bar-title logo"><a href="{site_url}"><img src="{site_url}images/lc-logo-mobile.svg"/></a></div>
    <div class="top-bar-right">
      <button class="menu-icon" type="button" data-toggle="offcanvas-full-screen"></button>
    </div>
  </div>
</div>

<div id="offcanvas-full-screen" class="offcanvas-full-screen" data-off-canvas data-transition="overlap">
  <div class="offcanvas-full-screen-inner">
    <button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <ul class="offcanvas-full-screen-menu">
      <li><a href="{site_url}">Home</a></li>
      <li><a href="{site_url}flavors">Flavors</a></li>
      <li><a href="{site_url}blog">Blog</a></li>
      <li><a href="{site_url}find-us">Find Us</a></li>
      <li><a href="{site_url}about">About</a></li>
      <li><a href="{site_url}special-orders">Special Orders</a></li>
      <li><a href="{site_url}faqs">FAQs</a></li>
      <div class="dots"></div>
      <div class="cell small-12 text-center social">
        <a href="https://www.facebook.com/LeonesCreamery" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://instagram.com/leonescreamery/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
      </div>
    </ul>
  </div>
</div><!--end of mobile menu-->


<div class="top-bar hide-for-small-only" id="topmenu">
  <div class="top-left">
    <ul class="menu">
      <li><a href="{site_url}flavors">Flavors</a></li>
      <li><a href="{site_url}blog">Blog</a></li>
      <li><a href="{site_url}find-us">Find Us</a></li>
    </ul>
  </div>
  <div class="top-center">
    <div class="half-circle-outside-wrap"><div class="half-circle-inside-wrap"></div></div>
    <div class="menu-text logo"><a href="{site_url}"><img src="{site_url}images/lc-logo.svg"></a></div>
    <!--<div class="circle"></div>-->
  </div>
  <div class="top-right">
    <ul class="menu">
      <li><a href="{site_url}about">About</a></li>
      <li><a href="{site_url}special-orders">Special Orders</a></li>
      <li><a href="{site_url}faqs">FAQs</a></li>
    </ul>
  </div>
</div>


{layout:contents}


     <div class="footer">
      <div class="grid-x grid-padding-x">
        
        <div class="cell small-12 text-center social">
          <a href="https://www.facebook.com/LeonesCreamery" target="_blank">
              <i class="fa fa-facebook"></i>
          </a>
          <a href="https://instagram.com/leonescreamery/" target="_blank">
              <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
      
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-3">
          <h3>Hours</h3>
          <div class="info">{footer_hours}</div>
        </div>
        <div class="cell small-12 medium-3">
          <h3>Location</h3>
          <div class="info">722½ Main St<br>Spearfish, SD 57783<br>Next to the Old City Hall Building</div>
        </div>
        <div class="cell small-12 medium-3">
          <h3>Contact</h3>
          <div class="info">605 644 6461<br>leonescreamery@gmail.com</div>
        </div>
        <div class="cell small-12 medium-3">
          <div class="other-info"><a href="{site_url}contact">Contact Us</a><br><a href="{site_url}join-the-team">Join The Team</a></div>
        </div>
      </div>
        

    </div><!--end of footer--> 

</div><!--end wrapper-->

    <div id="back-top">
      <a class="button totop" href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>


        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>         
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
{layout:extra_js}
    <script>
    $(document).ready(function(){
    
      // hide #back-top first
      $("#back-top").hide();
    
      // fade in #back-top
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#back-top').fadeIn();
          } else {
            $('#back-top').fadeOut();
          }
        });
    
        // scroll body to 0px on click
        $('#back-top .fi-arrow-up').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 800);
          return false;
        });
      });
    
    });
    </script>
    </body>
</html>
